<!DOCTYPE html>
<html>
<head>
    <title>Getting started with Webpack</title>
    <script src="javascripts/bundle.js"></script>
</head>
<body>
<h1>Webpack</h1>
<p>Welcome to Webpack</p>
<div id="msg">Hmm</div>
<div id="randoms">hmm</div>
<div id="todos">todos todo</div>
</body>
</html>
